.size {
    width: 1300px;
}

body {
    justify-content: center;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: black;
    margin-top: 80px;
}

.container-red {
    width: 1450px;
}

.color-letter {
    color: #56070c;
}

i {
    color: white;
}

.paybox-size {
    width: 400px;
}

